*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
}

:root{
--darkColor1:rgb(81, 50, 82);
--darkColor2:rgb(122, 64, 105);
--darkColor3: rgb(172, 112, 136);
--lightColor1:rgb(246, 231, 216);
--lightColor2:rgb(249, 218, 194);
}

/*####---- HEADER ----####*/


header{
    background-color:var(--darkColor1);
    position: sticky;
    top: 0;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;

}

.nav-header ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 50px;
}

.nav-header ul li a{
    padding: 10px;
    text-decoration: none;
    margin: 10px;
    color: var(--lightColor1);
}

 .nav-header a:hover, .nav-footer a:hover{
    color: var(--lightColor2);
 } 

 .nav-header li:hover, .nav-footer li:hover, .cont-contacto li:hover{
    transform: scale(1.2);
    transition: 1s; 
  
}

.contacto{
    background-color:var(--darkColor2);
    padding: 10px 20px;
    border-radius: 50px;
    
    
}


/*####---- MAIN ----####*/


/*####---- SECCIÓN DE PRESENTACIÓN ----####*/


.cont-presentacion{
    min-height: 100vh;
    background: linear-gradient(var(--lightColor2) 10%, var(--darkColor3) 90%);
    display: flex;
    justify-content:center;
    align-items: center;

}

.intro{
    margin-right: 100px;
}

.intro *{
    margin-bottom: 20px;
}

h1{ 
    font-size: 55px;
    color:var(--darkColor1);
}

h3{
    font-size: 25px;
    color: var(--darkColor2);
}

button, .enviar{
    background-color:var(--darkColor2);
   border-radius: 50px;
   padding: 15px 20px;
   margin-top: 20px;
   border-style: none;
   color:var(--lightColor1);
}

button:hover, .enviar:hover{
    background-color: var(--darkColor1);
}


.foto-perfil{
    width: 270px;
    height: 270px;
    border-radius: 50%;
    border: 4px solid var(--darkColor2);
    box-shadow: 8px 10px 14px 0px var(--darkColor1, 0.45);


}

button a{
    text-decoration: none;
    color:var(--lightColor1);
}

/*####---- SECCIÓN CONOCIMIENTOS ----####*/

.mis-conocimientos{
    min-height: 100vh;
    padding: 100px 0;
}


.cont-conocimientos{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
padding: 20px;


}

h2{
    font-size: 35px;
}

.p-intro-conocimientos, h2 ,.p-intro-projects{
    text-align: center;
    margin-bottom: 20px;
    
}

.cont-skills{
width: 70%; 
display: flex;
flex-wrap: wrap;
justify-content: center;

}

.box-skill{

    border: 1px solid  var(--darkColor1);
    border-radius: 5px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 100px;
}

.box-skill p{
    font-size: 20px;
    font-weight: bold;
}

.box-skill:hover{
    border-color:var(--darkColor3);
    transform: rotate(-5deg);
    transition: 1s all;
}

 .fa-html5{
color: rgb(255, 72, 0);
 }
 .fa-css3{
    color: rgb(0, 170, 255);
 }
 .fa-sass {
    color: pink;
 }
 .fa-js{
    color: rgb(247, 227, 6);
 }
 .fa-react{
    color: aqua;
 }
 .fa-git-alt{
    color: rgb(255, 72, 0);
 }


/*####---- SECCIÓN CITA ----####*/


.cont-cita{
    text-align: center;
    background-color:var(--darkColor3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 20px;
    color: var(--lightColor1);
    
}

.cont-cita i{
    font-size: 80px;
    color: var(--lightColor1);
}

.cont-cita *{
    margin-bottom: 50px;
}


/*####---- SECCIÓN PROYECTOS  ----####*/

.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
   
   
}


.container-projects{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


.box-project{
    border: 1px solid var(--darkColor1);
    border-radius: 5px;
    margin: 15px;
    padding: 15px;
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;

}

.box-project img{
  width: 100%;
}

.box-project a{
    text-decoration: none;
    color: black;
}

.box-project:hover{
    box-shadow: 8px 10px 14px 0px var(--darkColor1, 0.45);

}


/*####---- SECCIÓN CONTACTO ----#####*/

.section-contac{
    min-height: 100vh;
    padding: 100px;
    
}

.container-contac{
    display: flex;
    background-color: var(--lightColor2);
    justify-content: center;
    border: 1px solid var(--darkColor3);
    border-radius: 10px;
    margin: 50px auto;
    padding: 90px 50px;
    

}
.contact-me{
width: 40%;
margin-right: 100px;
}

.link-contacto{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.contact-me i{
    font-size: 18px;
    text-decoration: none;
    color:var(--lightColor1);
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color:var(--darkColor3);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.p-contact-me{
    font-size: 18px;
    margin-bottom: 40px;
}
.cont-link-contact{
    margin-left: 20px;
}


.link-contacto a{
    text-decoration: none;
    color: black;

}

.link-contacto a:hover{
    color:  var(--darkColor3);
  
}

.write-me{
    width: 60%;
}

.cont-name-surname{
    display: flex; 
}

.cont-name{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 20px;
}

.cont-surname{
    display: flex;
    flex-direction: column;
    width: 50%;

}


.cont-email-message{
    display: flex;
    flex-direction: column;
}
 
label{
   margin-bottom: 20px;
}

.email, .message{
    margin-top: 20px;
}

input, textarea{
    border-radius: 30px;
    padding: 10px 25px;
    border-style: none;


}

/*####---- FOOTER ----####*/

footer{
    background-color:var(--darkColor1);
    padding: 100px 0;
}

.nav-footer ul, .cont-contacto, .copyright{
    display: flex;
    justify-content: center;

}

.nav-footer ul li a{
    text-decoration: none;
    color: var(--lightColor1);
    margin: 10px;
}

.nav-footer{
  height: 20px;
}

.cont-contacto li a{
    margin:30px 10px;
    text-decoration: none;
    color:var(--lightColor1);
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color:var(--darkColor3);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;


}

li{
    list-style: none;
}

.cont-contacto a:hover{
    background-color:var(--darkColor2);
}

.copyright{
    color:var(--lightColor2);
}

/*####---- DISEÑO RESPONSIVE ----####*/

/*####---- TABLETS ----####*/

@media (max-width:960px){
    
    
    
    .nav-footer{
      display: none;
    }


    .cont-presentacion{
        flex-direction: column;
        
    }

    .intro{
        width: 100wh;
        text-align: center;
        margin: 20px auto;
    }

    .foto-perfil{
        margin: 20px 0;
    }

    .container-contac{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
    }

    .contact-me, .write-me{
        text-align: center;
        margin: 20px auto;
        width: 100%;
        padding: 20px;
    }

    .cont-name-surname{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .cont-name, .cont-surname{
        width: 100%;
        margin: 0;
    }

    .surname{
        margin-top: 20px;
    } 

    }



/*####----MOBILE---****/

@media (max-width:480px){
    
    header{
        height: 60px;
        align-items: center;
        justify-content: center;
        font-size: 12px;
    }

    .nav-header ul{
        margin: 0;
    }

    .nav-header ul li{
        margin: 0px;
    }

    .nav-header a:hover{
        font-size: 12px;
    }

    .contacto{
        background-color:var(--darkColor3);
        padding: 5px 10px;
        border-radius: 50px;
    }


    .perfil{
        display: flex;
        justify-content: center;
    }

    .foto-perfil{
        width: 200px;
        height: 200px; 
    }

    h1{
        font-size: 40px;
    }

    h3{
        font-size: 20px;
    }

    h2{
        font-size: 20px;
        text-align: center;
    }
 
    blockquote{
        padding: 50px;
    }

    .box-project{
        width: 100%;
    }



    .section-contac{
        padding:100px 0 0 0;
        
    }
    .container-contac{
        padding: 20px 10px;
        width: 100wh;
        margin: 0; 
    } 

    footer{
        padding: 30px 0;
    }

    .cont-contacto li a{
        margin: 15px;
    }

    .footer nav ul, footer ul, .copyright{
        flex-direction: column;
        align-items: center; 
    }

}